:root {
  --border-setup: 0.2px solid black;
}
.outer-div {
  /* background-image: inherit; */
  height: 80vh;
}
.Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: inherit;
  align-items: center;
  text-align: center;
}
.Header h1 {
  font-size: 80px;
  font-weight: 100;
  color: white;
}
.Header h4 {
  font-size: 40px;
  font-weight: lighter;
  letter-spacing: 10px;
  color: white;
}
