.Button {
  color: white !important;
}
.Button :hover {
  color: darkblue !important;
}
.muiNavBar {
  position: fixed;
  top: 0;
  z-index: 2;
}
.black {
  background-color: black;
}
.transition {
  transition: 0.4s;
  padding: inherit;
}
.muiNavBar-admin {
  position: fixed;
  top: 0;
  z-index: 2;
}
