.Button {
  color: white !important;
}
.Button :hover {
  color: darkblue !important;
}
.muiNavBar {
  position: fixed;
  top: 0;
  z-index: 2;
}
.black {
  background-color: black;
}

.muiNavBar-admin {
  position: fixed;
  top: 0;
  z-index: 2;
}
