.title-font{
    font-family: 'Abril Fatface', cursive;}
.body-font{
    font-family: 'Quicksand', sans-serif;
}
:root{
    --border-setup:0.2px solid black;
}
.Header{
    border: var(--border-setup);
    text-align: center;
    padding: 50px 0px;
}
.Header h1{
    font-size:120px;
    font-weight: 900;
}
.Header h4{
    font-size:40px;
    font-weight: lighter;
    letter-spacing: 10px;
}


