.Attention {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-inline: 15%;
  margin-block: 60px;
}
.Attention-title {
  font-size: 40px;
  background-color: white;
  border: var(--border-setup);
  width: 384px;
  text-align: center;
  z-index: 1;
  position: absolute;
}
.Attention-content {
  margin-top: 25px;
}
.Attention-image {
  background-color: #d2e8ec;
  width: 100%;
  border: var(--border-setup);
  display: flex;
  justify-content: center;
}
.Attention-image img {
  border: 10px solid white;
  width: 50%;
  margin-block: 150px;
}
.Attention-info {
  border: var(--border-setup);
  padding: 20px;
}
.Attention-info h1 {
  font-size: 30px;
  font-weight: 100;
}
